volumes/nodered/data/.flows.json.backup
[{"id":"6105ff23.25ee","type":"tab","label":"Session - leds","disabled":false,"info":""},{"id":"c8cb4892.176ac8","type":"tab","label":"Session","disabled":false,"info":""},{"id":"d08af2f2.b7983","type":"tab","label":"GameState","disabled":false,"info":""},{"id":"b17b7f52.c416c","type":"tab","label":"GameResult","disabled":false,"info":""},{"id":"fcbef10b.9de17","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9f65730.15de28","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d63de33d.8ba06","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Reaction Speed Game","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY-MM-DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e55f6d95.443d2","type":"ui_tab","z":"","name":"Gamestate","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c76793e8.42a2","type":"ui_group","z":"","name":"Home","tab":"","disp":true,"width":"6","collapse":false},{"id":"e566038e.d873b","type":"ui_group","z":"","name":"Debug","tab":"","disp":true,"width":"6","collapse":false},{"id":"5b95fef3.cd695","type":"ui_group","z":"","name":"Knapptryck","tab":"e55f6d95.443d2","order":4,"disp":true,"width":"6","collapse":false},{"id":"b5a08a16.f0af78","type":"ui_group","z":"","name":"Resultat","tab":"e55f6d95.443d2","order":1,"disp":true,"width":"6","collapse":false},{"id":"3e80f1a2.2d63ee","type":"ui_group","z":"","name":"Status","tab":"e55f6d95.443d2","order":2,"disp":true,"width":"6","collapse":false},{"id":"b0d9b078.4243","type":"ui_group","z":"","name":"bar-chart","tab":"","disp":true,"width":"12","collapse":false},{"id":"31c9b97f.efb596","type":"ui_group","z":"","name":"Grid","tab":"e55f6d95.443d2","order":3,"disp":false,"width":"12","collapse":false},{"id":"bb7fec75.23cc","type":"ui_spacer","name":"spacer","group":"3e80f1a2.2d63ee","order":2,"width":"6","height":"1"},{"id":"e1bc7d92.817c5","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"133dedb6.5ca0f2","type":"ui_group","name":"Group 1","tab":"e1bc7d92.817c5","order":1,"disp":true,"width":6},{"id":"9f7aa82b.f9f5f8","type":"mqtt in","z":"6105ff23.25ee","name":"","topic":"count","qos":"2","datatype":"json","broker":"f9f65730.15de28","x":260,"y":220,"wires":[["b25005f.35873f8"]]},{"id":"b25005f.35873f8","type":"debug","z":"6105ff23.25ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":220,"wires":[]},{"id":"991cfa1a.ed1388","type":"mqtt out","z":"6105ff23.25ee","name":"","topic":"count","qos":"","retain":"","broker":"f9f65730.15de28","x":910,"y":100,"wires":[]},{"id":"74b43dcd.a66924","type":"inject","z":"6105ff23.25ee","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":250,"y":140,"wires":[["1b8aa7ed.28a338"]]},{"id":"1b8aa7ed.28a338","type":"function","z":"6105ff23.25ee","name":"","func":"var value = flow.get(\"count\");\n\nvalue = value + 1;\n\nflow.set(\"count\",value);\n\nmsg.payload = {value:value}\n\nreturn  msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["f0100f3e.6d34f"]]},{"id":"f0100f3e.6d34f","type":"json","z":"6105ff23.25ee","name":"","property":"payload","action":"","pretty":false,"x":630,"y":120,"wires":[[]]},{"id":"ddb4e06c.7ec5b","type":"inject","z":"6105ff23.25ee","name":"","topic":"0","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":80,"wires":[["f63e17b7.3f9de8","94513b80.236178","d5837b70.0349e8"]]},{"id":"f63e17b7.3f9de8","type":"switch","z":"6105ff23.25ee","name":"Reset count","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"count","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":40,"wires":[[]]},{"id":"94513b80.236178","type":"debug","z":"6105ff23.25ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":100,"wires":[]},{"id":"d5837b70.0349e8","type":"change","z":"6105ff23.25ee","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":40,"wires":[[]]},{"id":"b6ce4ad.12692b8","type":"debug","z":"6105ff23.25ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":380,"wires":[]},{"id":"6b62a6dc.2af888","type":"mqtt in","z":"6105ff23.25ee","name":"","topic":"Hello","qos":"2","datatype":"auto","broker":"f9f65730.15de28","x":320,"y":380,"wires":[["b6ce4ad.12692b8"]]},{"id":"3c057ab8.da0c26","type":"ui_led","z":"6105ff23.25ee","group":"3e80f1a2.2d63ee","order":4,"width":"2","height":"1","label":"1","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Knapp 1","x":1100,"y":640,"wires":[]},{"id":"5b128a19.8fe8f4","type":"mqtt in","z":"6105ff23.25ee","name":"","topic":"reaction-speed-game/Game1/led/1","qos":"2","datatype":"auto","broker":"f9f65730.15de28","x":340,"y":640,"wires":[["64fcc858.ee2f38"]]},{"id":"69b9681d.f39cd8","type":"debug","z":"6105ff23.25ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":500,"wires":[]},{"id":"216c1228.6e66be","type":"ui_text","z":"6105ff23.25ee","d":true,"group":"3e80f1a2.2d63ee","order":3,"width":"2","height":"1","name":"","label":"Knapp 1","format":"{{msg.payload}}","layout":"col-center","x":940,"y":640,"wires":[]},{"id":"64fcc858.ee2f38","type":"json","z":"6105ff23.25ee","name":"","property":"payload","action":"","pretty":false,"x":580,"y":640,"wires":[["f246756f.bad508"]]},{"id":"f246756f.bad508","type":"function","z":"6105ff23.25ee","name":"","func":"\nvar data = msg.payload;\nvar newMsg = {};\n\n//if(data.Payload){\n//    newMsg.payload = \"På\"\n//}else{\n//    newMsg.payload = \"Av\"\n//}\n\nif(data.Payload == null){\n    newMsg.payload = undefined;\n}else{\n    newMsg.payload = data.Payload;   \n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":730,"y":640,"wires":[["216c1228.6e66be","69b9681d.f39cd8","3c057ab8.da0c26"]]},{"id":"c979f6bf.bc87d8","type":"ui_text","z":"6105ff23.25ee","d":true,"group":"3e80f1a2.2d63ee","order":7,"width":"2","height":"1","name":"","label":"Knapp 2","format":"{{msg.payload}}","layout":"col-center","x":940,"y":720,"wires":[]},{"id":"4d01f2ed.2fd72c","type":"ui_text","z":"6105ff23.25ee","group":"3e80f1a2.2d63ee","order":5,"width":"2","height":"1","name":"Dummy","label":"","format":"","layout":"col-center","x":940,"y":680,"wires":[]},{"id":"3bea0b7f.e8aff4","type":"mqtt in","z":"6105ff23.25ee","name":"","topic":"reaction-speed-game/Game1/led/2","qos":"2","datatype":"auto","broker":"f9f65730.15de28","x":340,"y":720,"wires":[["74731805.bd42b8"]]},{"id":"74731805.bd42b8","type":"json","z":"6105ff23.25ee","name":"","property":"payload","action":"","pretty":false,"x":580,"y":720,"wires":[["1f13eaa1.f6a825"]]},{"id":"1f13eaa1.f6a825","type":"function","z":"6105ff23.25ee","name":"","func":"\nvar data = msg.payload;\nvar newMsg = {};\n\n//if(data.Payload){\n//    newMsg.payload = \"På\"\n//}else{\n//    newMsg.payload = \"Av\"\n//}\n\nnewMsg.payload = data.Payload;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":730,"y":720,"wires":[["c979f6bf.bc87d8","2b5cbb88.17ade4"]]},{"id":"4b257a41.405524","type":"ui_text","z":"6105ff23.25ee","group":"3e80f1a2.2d63ee","order":8,"width":"2","height":"1","name":"Dummy","label":"","format":"","layout":"col-center","x":940,"y":760,"wires":[]},{"id":"29a1ccfc.054a54","type":"ui_text","z":"6105ff23.25ee","group":"3e80f1a2.2d63ee","order":11,"width":"2","height":"1","name":"Dummy","label":"","format":"","layout":"col-center","x":940,"y":840,"wires":[]},{"id":"8524c9cf.bb77a8","type":"ui_text","z":"6105ff23.25ee","d":true,"group":"3e80f1a2.2d63ee","order":9,"width":"2","height":"1","name":"","label":"Knapp 3","format":"{{msg.payload}}","layout":"col-center","x":940,"y":800,"wires":[]},{"id":"7d9e67a2.b8cb78","type":"mqtt in","z":"6105ff23.25ee","name":"","topic":"reaction-speed-game/Game1/led/3","qos":"2","datatype":"auto","broker":"f9f65730.15de28","x":340,"y":800,"wires":[["1e91efcd.37e9d"]]},{"id":"1e91efcd.37e9d","type":"json","z":"6105ff23.25ee","name":"","property":"payload","action":"","pretty":false,"x":580,"y":800,"wires":[["209e3688.02809a"]]},{"id":"209e3688.02809a","type":"function","z":"6105ff23.25ee","name":"","func":"\nvar data = msg.payload;\nvar newMsg = {};\n\n//if(data.Payload){\n//    newMsg.payload = \"På\"\n//}else{\n//    newMsg.payload = \"Av\"\n//}\n\nnewMsg.payload = data.Payload;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":730,"y":800,"wires":[["8524c9cf.bb77a8","d09c0bd7.727fa8"]]},{"id":"a716a332.8bb44","type":"mqtt in","z":"6105ff23.25ee","name":"","topic":"reaction-speed-game/Game1/led/4","qos":"2","datatype":"auto","broker":"f9f65730.15de28","x":340,"y":880,"wires":[["f61cb9a3.9a51e8"]]},{"id":"80c23e0f.150e6","type":"ui_text","z":"6105ff23.25ee","d":true,"group":"3e80f1a2.2d63ee","order":12,"width":"2","height":"1","name":"","label":"Knapp 4","format":"{{msg.payload}}","layout":"col-center","x":940,"y":880,"wires":[]},{"id":"f61cb9a3.9a51e8","type":"json","z":"6105ff23.25ee","name":"","property":"payload","action":"","pretty":false,"x":580,"y":880,"wires":[["e9210b40.164e78"]]},{"id":"e9210b40.164e78","type":"function","z":"6105ff23.25ee","name":"","func":"\nvar data = msg.payload;\nvar newMsg = {};\n\n//if(data.Payload){\n//    newMsg.payload = \"På\"\n//}else{\n//    newMsg.payload = \"Av\"\n//}\n\nnewMsg.payload = data.Payload;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":730,"y":880,"wires":[["80c23e0f.150e6","4be16560.f7705c"]]},{"id":"6534d2f4.adaabc","type":"ui_text","z":"6105ff23.25ee","d":true,"group":"3e80f1a2.2d63ee","order":15,"width":"2","height":"1","name":"","label":"Knapp 5","format":"{{msg.payload}}","layout":"col-center","x":940,"y":960,"wires":[]},{"id":"44ea6b92.bafe24","type":"ui_text","z":"6105ff23.25ee","group":"3e80f1a2.2d63ee","order":14,"width":"2","height":"1","name":"Dummy","label":"","format":"","layout":"col-center","x":940,"y":920,"wires":[]},{"id":"e7d1198c.378f08","type":"mqtt in","z":"6105ff23.25ee","name":"","topic":"reaction-speed-game/Game1/led/5","qos":"2","datatype":"auto","broker":"f9f65730.15de28","x":340,"y":960,"wires":[["f89c6ab7.55f5a8"]]},{"id":"f89c6ab7.55f5a8","type":"json","z":"6105ff23.25ee","name":"","property":"payload","action":"","pretty":false,"x":580,"y":960,"wires":[["1061201f.48585"]]},{"id":"1061201f.48585","type":"function","z":"6105ff23.25ee","name":"","func":"\nvar data = msg.payload;\nvar newMsg = {};\n\n//if(data.Payload){\n//    newMsg.payload = \"På\"\n//}else{\n//    newMsg.payload = \"Av\"\n//}\n\nnewMsg.payload = data.Payload;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":730,"y":960,"wires":[["6534d2f4.adaabc","b2d92c53.95456"]]},{"id":"2b5cbb88.17ade4","type":"ui_led","z":"6105ff23.25ee","group":"3e80f1a2.2d63ee","order":6,"width":"2","height":"1","label":"2","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Knapp 2","x":1100,"y":720,"wires":[]},{"id":"d09c0bd7.727fa8","type":"ui_led","z":"6105ff23.25ee","group":"3e80f1a2.2d63ee","order":10,"width":"2","height":"1","label":"3","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"white","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Knapp 3","x":1100,"y":800,"wires":[]},{"id":"4be16560.f7705c","type":"ui_led","z":"6105ff23.25ee","group":"3e80f1a2.2d63ee","order":13,"width":"2","height":"1","label":"4","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Knapp 4","x":1100,"y":880,"wires":[]},{"id":"b2d92c53.95456","type":"ui_led","z":"6105ff23.25ee","group":"3e80f1a2.2d63ee","order":16,"width":"2","height":"1","label":"5","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"gray","value":"false","valueType":"bool"},{"color":"blue","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Knapp 5","x":1100,"y":960,"wires":[]},{"id":"5f36574c.bd8f38","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":3,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":40,"wires":[]},{"id":"469a5557.a416fc","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":1,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":80,"wires":[]},{"id":"bbbf8944.6b4fa8","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":6,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":140,"wires":[]},{"id":"783de70a.b84d58","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":4,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":180,"wires":[]},{"id":"4691950a.e0a39c","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":9,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":240,"wires":[]},{"id":"a29e5138.c1daa","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":7,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":280,"wires":[]},{"id":"2c805d91.f356b2","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":12,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":340,"wires":[]},{"id":"d79dfcb3.2fd03","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":10,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":380,"wires":[]},{"id":"17b899da.32d1e6","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":15,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":440,"wires":[]},{"id":"681fbb51.0d5c94","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":13,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":480,"wires":[]},{"id":"caab816a.4e8cd","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":18,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":540,"wires":[]},{"id":"40f02dc5.479cf4","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":16,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":580,"wires":[]},{"id":"aafb1241.96fc9","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":21,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":640,"wires":[]},{"id":"631aff12.c0507","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":19,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":680,"wires":[]},{"id":"bc18b6ec.3665e8","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":24,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":740,"wires":[]},{"id":"16ecef94.c6a69","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":22,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":780,"wires":[]},{"id":"e81fa685.ef3558","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":27,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":840,"wires":[]},{"id":"ad8bf4a7.43f9e8","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":25,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":880,"wires":[]},{"id":"19ddd6b9.796f19","type":"mqtt in","z":"c8cb4892.176ac8","name":"","topic":"reaction-speed-game/+","qos":"2","datatype":"auto","broker":"f9f65730.15de28","x":160,"y":60,"wires":[["d3fee41b.c65ac8"]]},{"id":"e7bb6aa7.f269b8","type":"mqtt in","z":"6105ff23.25ee","name":"","topic":"reaction-speed-game/Game1/session/+","qos":"2","datatype":"json","broker":"f9f65730.15de28","x":360,"y":540,"wires":[["11311fdf.9e887"]]},{"id":"11311fdf.9e887","type":"debug","z":"6105ff23.25ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":560,"wires":[]},{"id":"3f6a6d94.815ce2","type":"mqtt in","z":"c8cb4892.176ac8","name":"","topic":"reaction-speed-game/Game1/session/+","qos":"2","datatype":"json","broker":"f9f65730.15de28","x":210,"y":140,"wires":[["10454c7d.2c0cd4"]]},{"id":"10454c7d.2c0cd4","type":"switch","z":"c8cb4892.176ac8","name":"","property":"payload.Id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":450,"y":140,"wires":[["5f36574c.bd8f38","7d303d82.936e34","7bcc5469.e03d4c"],["fd8bb987.9d70b8","bbbf8944.6b4fa8","9b13667e.4c3a88"],["41b3951a.209f1c","4691950a.e0a39c","7645bd0.6ecec44"],["7ff54d93.512284","2c805d91.f356b2","4d9b65a4.8a90ec"],["17b899da.32d1e6","46a0a57.860e45c","4488781d.aa3db8"],["b2f7974d.febf48","caab816a.4e8cd","73dc2af6.2a8b74"],["1fcba33f.c1034d","aafb1241.96fc9","a4ea4b27.d71aa8"],["4befc252.dceb5c","bc18b6ec.3665e8","9bfbaa99.ff4648"],["335b22cf.cb781e","e81fa685.ef3558","c2e32dfc.22c4a"],["bf7f683f.e56a28","d347ccc6.a7cba","32b58ad8.278c86"]]},{"id":"46a0a57.860e45c","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":480,"wires":[["681fbb51.0d5c94"]]},{"id":"b2f7974d.febf48","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":580,"wires":[["40f02dc5.479cf4"]]},{"id":"7ff54d93.512284","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["d79dfcb3.2fd03"]]},{"id":"41b3951a.209f1c","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["a29e5138.c1daa"]]},{"id":"fd8bb987.9d70b8","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["783de70a.b84d58"]]},{"id":"7d303d82.936e34","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["469a5557.a416fc"]]},{"id":"1fcba33f.c1034d","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":680,"wires":[["631aff12.c0507"]]},{"id":"4befc252.dceb5c","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["16ecef94.c6a69"]]},{"id":"335b22cf.cb781e","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":880,"wires":[["ad8bf4a7.43f9e8"]]},{"id":"d347ccc6.a7cba","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":30,"width":"3","height":"1","name":"","label":"Poäng: ","format":"{{msg.payload.Score}}","layout":"row-left","x":800,"y":940,"wires":[]},{"id":"73ea807d.f3b7c","type":"ui_led","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":28,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"},{"color":"grey","value":"null","valueType":"str"}],"allowColorForValueInMessage":false,"name":"State","x":790,"y":980,"wires":[]},{"id":"bf7f683f.e56a28","type":"function","z":"c8cb4892.176ac8","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.State;\n\nif(msg.payload.State === null){\n    newMsg.payload = \"null\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":980,"wires":[["73ea807d.f3b7c"]]},{"id":"52494f3e.6738e","type":"mqtt in","z":"d08af2f2.b7983","name":"","topic":"reaction-speed-game/Game1/state","qos":"2","datatype":"json","broker":"f9f65730.15de28","x":220,"y":140,"wires":[["a162ef1c.7addd"]]},{"id":"8696aed7.bb68","type":"ui_text","z":"d08af2f2.b7983","group":"3e80f1a2.2d63ee","order":1,"width":0,"height":0,"name":"","label":"{{msg.label}}","format":"{{msg.payload}}","layout":"col-center","x":790,"y":120,"wires":[]},{"id":"58a50919.9c6068","type":"debug","z":"d08af2f2.b7983","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":80,"wires":[]},{"id":"d3fee41b.c65ac8","type":"debug","z":"c8cb4892.176ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":40,"wires":[]},{"id":"fc923cef.9696a","type":"function","z":"d08af2f2.b7983","name":"","func":"\nvar newMsg = {};\n\nnewMsg.label = \"Redo\"\nnewMsg.payload = \"Tryck på mittenknappen för att starta!\"\n\nreturn newMsg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["8696aed7.bb68","58a50919.9c6068"]]},{"id":"a162ef1c.7addd","type":"switch","z":"d08af2f2.b7983","name":"","property":"payload.State","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"},{"t":"eq","v":"Loading","vt":"str"},{"t":"eq","v":"Starting","vt":"str"},{"t":"eq","v":"Running","vt":"str"},{"t":"eq","v":"Ended","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":460,"y":140,"wires":[["fc923cef.9696a","a58ca934.680a98"],["428d1c3f.b93514"],["4c74515f.eb32e","787b8ef3.aecd9"],["914eb13f.dea7b","f987bb62.94b1e8"],["de2cc606.4e64e8","13ab5372.b8e08d"]]},{"id":"428d1c3f.b93514","type":"function","z":"d08af2f2.b7983","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = \"Vänta...\"\nnewMsg.label = \"Laddar\"\n\nreturn newMsg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["8696aed7.bb68"]]},{"id":"4c74515f.eb32e","type":"function","z":"d08af2f2.b7983","name":"","func":"\nvar newMsg = {};\n\nvar count = msg.payload.CountDown;\n\nif(count > 0){\n    newMsg.label = \"Startar\"\n    newMsg.payload = count + \" sek...\"\n}else{\n    newMsg.label = \"\"\n    newMsg.payload = \"Redo\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["8696aed7.bb68"]]},{"id":"914eb13f.dea7b","type":"function","z":"d08af2f2.b7983","name":"","func":"\nvar newMsg = {};\n\nnewMsg.label = \"\"\nnewMsg.payload = \"Pågår\"\n\nreturn newMsg;","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["8696aed7.bb68"]]},{"id":"de2cc606.4e64e8","type":"function","z":"d08af2f2.b7983","name":"","func":"\nvar newMsg = {};\n\nnewMsg.label = \"Klart\"\nnewMsg.payload = \"Bra jobbat!!\"\n\nreturn newMsg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["8696aed7.bb68"]]},{"id":"7bcc5469.e03d4c","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":2,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":40,"wires":[]},{"id":"9b13667e.4c3a88","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":5,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":140,"wires":[]},{"id":"7645bd0.6ecec44","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":8,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":240,"wires":[]},{"id":"4d9b65a4.8a90ec","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":11,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":340,"wires":[]},{"id":"4488781d.aa3db8","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":14,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":440,"wires":[]},{"id":"73dc2af6.2a8b74","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":17,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":540,"wires":[]},{"id":"a4ea4b27.d71aa8","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":20,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":640,"wires":[]},{"id":"9bfbaa99.ff4648","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":23,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":740,"wires":[]},{"id":"c2e32dfc.22c4a","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":26,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":840,"wires":[]},{"id":"32b58ad8.278c86","type":"ui_text","z":"c8cb4892.176ac8","group":"5b95fef3.cd695","order":29,"width":"2","height":"1","name":"","label":"Tid: ","format":"{{msg.payload.Seconds.toFixed(3)}}","layout":"row-left","x":950,"y":940,"wires":[]},{"id":"c658de6c.55a9e","type":"mqtt in","z":"b17b7f52.c416c","name":"","topic":"reaction-speed-game/Game1/result","qos":"2","datatype":"json","broker":"f9f65730.15de28","x":200,"y":100,"wires":[["d3ba2a4e.da4f38","cc2387b3.b6cf18","c85c6faf.c33ee","b0d2b19f.489aa","1b88da9e.d347a5","474ca1af.b0db2"]]},{"id":"d3ba2a4e.da4f38","type":"ui_text","z":"b17b7f52.c416c","d":true,"group":"b5a08a16.f0af78","order":2,"width":0,"height":0,"name":"","label":"Poäng","format":"{{msg.payload.Result.TotalScore}}","layout":"row-left","x":810,"y":120,"wires":[]},{"id":"cc2387b3.b6cf18","type":"ui_text","z":"b17b7f52.c416c","d":true,"group":"b5a08a16.f0af78","order":3,"width":0,"height":0,"name":"","label":"Total tid","format":"{{msg.payload.Result.TotalTime}}","layout":"row-left","x":740,"y":160,"wires":[]},{"id":"c85c6faf.c33ee","type":"ui_text","z":"b17b7f52.c416c","group":"b5a08a16.f0af78","order":4,"width":"6","height":"1","name":"","label":"Antal feltryck:","format":"{{msg.payload.Result.NrOfWrongPresses}}","layout":"row-left","x":760,"y":220,"wires":[]},{"id":"b7f25767.638888","type":"ui_chart","z":"b17b7f52.c416c","name":"","group":"31c9b97f.efb596","order":1,"width":"12","height":"5","label":"Tider","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":280,"wires":[[]]},{"id":"b0d2b19f.489aa","type":"function","z":"b17b7f52.c416c","name":"","func":"\nvar newMsg = {};\nvar data = [];\nfor(var i = 0; i<msg.payload.Sessions.length; i++){\n    data.push(msg.payload.Sessions[i].Seconds);\n}\n\nnewMsg.payload = [{\n    series: [\"Tid\"],\n    data: [data],\n    labels: [ \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\" ]\n}]\n\nreturn newMsg;","outputs":1,"noerr":0,"x":540,"y":280,"wires":[["b7f25767.638888","e5ad29c5.35ebd8"]]},{"id":"e5ad29c5.35ebd8","type":"debug","z":"b17b7f52.c416c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":360,"wires":[]},{"id":"1b88da9e.d347a5","type":"ui_template","z":"b17b7f52.c416c","group":"b5a08a16.f0af78","name":"","order":1,"width":"6","height":"2","format":"<style>\n    .score {\n        font-size: 45px;\n        font-weight: bold;\n    }\n</style>\n<span>Poäng:</span>\n<div class=\"score\" ng-bind-html=\"msg.payload.Result.TotalScore\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":60,"wires":[[]]},{"id":"8bb820eb.afa12","type":"ui_template","z":"b17b7f52.c416c","group":"b5a08a16.f0af78","name":"","order":1,"width":"6","height":"2","format":"<style>\n    .score {\n        font-size: 45px;\n        font-weight: bold;\n    }\n</style>\n<span>Tid:</span>\n<div class=\"score\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":200,"wires":[[]]},{"id":"474ca1af.b0db2","type":"function","z":"b17b7f52.c416c","name":"","func":"\nvar newMsg = {};\n\nnewMsg.payload = msg.payload.Result.TotalTime;\n\nvar parts  = newMsg.payload.split('.');\n\nif(parts.length > 1){\n    var time = parts[0];\n    var ms = parts[1];\n\n    newMsg.payload = time + \".\" + ms.substr(0,3);\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":980,"y":260,"wires":[["2feac7c7.0c5708","8bb820eb.afa12"]]},{"id":"2feac7c7.0c5708","type":"debug","z":"b17b7f52.c416c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":340,"wires":[]},{"id":"cca38d1e.14c5e","type":"ui_audio","z":"d08af2f2.b7983","name":"","group":"3e80f1a2.2d63ee","voice":"en-US","always":false,"x":1120,"y":260,"wires":[]},{"id":"f987bb62.94b1e8","type":"function","z":"d08af2f2.b7983","name":"","func":"msg.payload = \"Go go go\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["12185f2.409bfa1"]]},{"id":"787b8ef3.aecd9","type":"function","z":"d08af2f2.b7983","name":"","func":"var newMsg = {};\nnewMsg.payload = msg.payload.CountDown.toString();\nreturn newMsg;","outputs":1,"noerr":0,"x":770,"y":440,"wires":[["12185f2.409bfa1"]]},{"id":"c1e545ea.438908","type":"ui_text_input","z":"fcbef10b.9de17","name":"","label":"","tooltip":"","group":"133dedb6.5ca0f2","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":500,"y":240,"wires":[["97c3d563.c3e318","cdeedccb.789ca"]]},{"id":"97c3d563.c3e318","type":"ui_audio","z":"fcbef10b.9de17","name":"","group":"133dedb6.5ca0f2","voice":"en-US","always":"","x":740,"y":240,"wires":[]},{"id":"cdeedccb.789ca","type":"debug","z":"fcbef10b.9de17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":180,"wires":[]},{"id":"f8e9260c.5487d8","type":"debug","z":"d08af2f2.b7983","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":160,"wires":[]},{"id":"12185f2.409bfa1","type":"rbe","z":"d08af2f2.b7983","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":940,"y":260,"wires":[["cca38d1e.14c5e","f8e9260c.5487d8"]]},{"id":"13ab5372.b8e08d","type":"function","z":"d08af2f2.b7983","name":"","func":"msg.payload = \"And you are done, good job!\"\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":540,"wires":[["12185f2.409bfa1"]]},{"id":"a58ca934.680a98","type":"function","z":"d08af2f2.b7983","name":"","func":"msg.payload = \"When you are ready press the white button to start\"\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["12185f2.409bfa1"]]}]